body {
    background:#F08700;
};

.burger-img {
    margin: 0 auto;
    height: 300;
    width: 300;
    box-shadow: 10px 10px 5px grey;
};

.list {
    list-style: none;
};

.devoured-list {
    text-align: center;
};

li {
    background-color: #BBDEF0;
}